{% comment %} live link : https://goodintentsco.com/products/rainbow-connection-omega-tent {% endcomment %}

<section id="product-page-main">
  <div class="sections">
    <div class="section section-1">
      {% render 'product-carousel' %}
    </div>

    <div class="section section-2">
      <h2 class="product-title">{{ product.title }}</h2>

      <a href="#experience-scroll-to" class="link-pointer">
        <p class="star-rating">
          <svg width="76" height="14" viewBox="0 0 76 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_4673_206" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="76" height="14">
            <path d="M0 0.0900269H76V13.91H0V0.0900269Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_4673_206)">
            <path d="M7.18948 0.355185L8.91657 4.06423C8.97474 4.20819 9.11315 4.31192 9.26961 4.33309L13.1571 4.93433C13.5302 4.99572 13.6886 5.49323 13.4138 5.76209L10.6056 8.64337C10.4872 8.74711 10.4491 8.91224 10.4671 9.07948L11.1351 13.1611C11.1953 13.5549 10.8021 13.8661 10.4671 13.6798L6.9929 11.7533C6.8545 11.6686 6.69803 11.6686 6.55963 11.7533L3.08539 13.6798C2.7504 13.8661 2.35724 13.5549 2.41742 13.1611L3.08539 9.07948C3.10344 8.91224 3.06533 8.76828 2.94698 8.64337L0.138701 5.76209C-0.136108 5.47206 0.0223588 4.99572 0.395458 4.93433L4.28292 4.33309C4.43938 4.31192 4.55773 4.20819 4.63596 4.06423L6.36305 0.355185C6.54157 0.00164066 7.03102 0.00164066 7.18948 0.355185ZM21.955 0.355185L20.2259 4.06423C20.1677 4.20819 20.0313 4.31192 19.8729 4.33309L15.9854 4.93433C15.6123 4.99572 15.4558 5.49323 15.7307 5.76209L18.5389 8.64337C18.6553 8.74711 18.6954 8.91224 18.6753 9.07948L18.0074 13.1611C17.9492 13.5549 18.3424 13.8661 18.6753 13.6798L22.1516 11.7533C22.288 11.6686 22.4465 11.6686 22.5829 11.7533L26.0591 13.6798C26.3921 13.8661 26.8053 13.5549 26.7271 13.1611L26.0591 9.07948C26.039 8.91224 26.0792 8.76828 26.1955 8.64337L29.0038 5.76209C29.2786 5.47206 29.1221 4.99572 28.749 4.93433L24.8616 4.33309C24.7031 4.31192 24.5868 4.20819 24.5065 4.06423L22.7794 0.355185C22.623 0.00164066 22.1315 0.00164066 21.955 0.355185ZM37.565 0.355185L35.8379 4.06423C35.7777 4.20819 35.6413 4.31192 35.4849 4.33309L31.5954 4.93433C31.2223 4.99572 31.0659 5.49323 31.3407 5.76209L34.1489 8.64337C34.2673 8.74711 34.3054 8.91224 34.2853 9.07948L33.6194 13.1611C33.5592 13.5549 33.9524 13.8661 34.2853 13.6798L37.7616 11.7533C37.9 11.6686 38.0565 11.6686 38.1929 11.7533L41.6691 13.6798C42.0041 13.8661 42.4153 13.5549 42.3371 13.1611L41.6691 9.07948C41.649 8.91224 41.6892 8.76828 41.8075 8.64337L44.6138 5.76209C44.8906 5.47206 44.7321 4.99572 44.359 4.93433L40.4716 4.33309C40.3151 4.31192 40.1968 4.20819 40.1185 4.06423L38.3894 0.355185C38.2129 0.00164066 37.7235 0.00164066 37.565 0.355185ZM53.157 0.355185L51.4279 4.06423C51.3697 4.20819 51.2313 4.31192 51.0748 4.33309L47.1874 4.93433C46.8143 4.99572 46.6578 5.49323 46.9326 5.76209L49.7389 8.64337C49.8572 8.74711 49.8974 8.91224 49.8773 9.07948L49.2093 13.1611C49.1512 13.5549 49.5443 13.8661 49.8773 13.6798L53.3535 11.7533C53.4899 11.6686 53.6464 11.6686 53.7848 11.7533L57.2611 13.6798C57.594 13.8661 58.0073 13.5549 57.927 13.1611L57.2611 9.07948C57.241 8.91224 57.2791 8.76828 57.3975 8.64337L60.2057 5.76209C60.4805 5.47206 60.3241 4.99572 59.951 4.93433L56.0615 4.33309C55.9051 4.31192 55.7867 4.20819 55.7085 4.06423L53.9814 0.355185C53.8249 0.00164066 53.3335 0.00164066 53.157 0.355185ZM68.767 0.355185L67.0399 4.06423C66.9797 4.20819 66.8433 4.31192 66.6848 4.33309L62.7974 4.93433C62.4243 4.99572 62.2678 5.49323 62.5426 5.76209L65.3509 8.64337C65.4672 8.74711 65.5074 8.91224 65.4873 9.07948L64.8193 13.1611C64.7612 13.5549 65.1543 13.8661 65.4873 13.6798L68.9635 11.7533C69.1 11.6686 69.2584 11.6686 69.3948 11.7533L72.8711 13.6798C73.204 13.8661 73.6173 13.5549 73.539 13.1611L72.8711 9.07948C72.851 8.91224 72.8911 8.76828 73.0075 8.64337L75.8157 5.76209C76.0906 5.47206 75.9341 4.99572 75.561 4.93433L71.6735 4.33309C71.5151 4.31192 71.3987 4.20819 71.3205 4.06423L69.5914 0.355185C69.4149 0.00164066 68.9234 0.00164066 68.767 0.355185Z" fill="#FFCC00"/>
            </g>
          </svg>
          Rated
        </p>
      </a>

      <div class="benefits">
        {% assign benefit_array = 'Sustainability,Dual Use,BE YOU-tiful,Fast. Easy.' | split: ',' %}

        {% for benefit in benefit_array %}
          <p class="benefit">
            <span class="icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM12.0303 4.96967C11.7374 4.67678 11.2626 4.67678 10.9697 4.96967C10.9626 4.97674 10.9559 4.98424 10.9498 4.9921L7.4774 9.41674L5.38388 7.32322C5.09098 7.03033 4.61611 7.03033 4.32322 7.32322C4.03032 7.61612 4.03032 8.09099 4.32322 8.38388L6.96966 11.0303C7.26256 11.3232 7.73743 11.3232 8.03032 11.0303C8.03685 11.0238 8.043 11.0169 8.04876 11.0097L12.041 6.01947C12.3232 5.72582 12.3196 5.25897 12.0303 4.96967Z" fill="white"/>
              </svg>
            </span>
            {{ benefit }}
          </p>
        {% endfor %}
      </div>

      <div class="features">
        {% for block in section.blocks %}
          {% if block.type == 'feature_item' %}
            <p class="feature">
              {% if block.settings.icon %}
                <img class="icon" src="{{ block.settings.icon}}" alt="{{ block.settings.label }}">
              {% endif %}
              {{ block.settings.label }}
            </p>
          {% endif %}
        {% endfor %}
      </div>

      <div class="product-selection">
        <h3 class="selected">
          choose Tent: <span>{{ product.title }}</span>
        </h3>
        <div class="products">
          {% assign page_product = product %}
          {% assign index = 1 %}
          {% for product in collections.all.products %}
            {% if product.metafields.custom.product_page_product %}
              <div
                class="product link-pointer"
                data-handle="{{ product.handle }}"
                data-product="{{ index }}"
                data-shoppay-price="{{ product.metafields.custom.shop_pay_emi_pricing.value | money_with_currency }}"
                data-isavl="{{ product.variants.first.available }}"
                data-title="{{ product.title }}"
                data-price="{{ product.price | money_with_currency }}"
                data-id="{{ product.variants.first.id }}"
              >
                <div class="img {% if page_product.title == product.title %}selected {% endif %}">
                  <img width="500" src="{{ product.images.first | img_url}}">
                </div>
                <p>{{ product.title }}</p>
              </div>
              {% assign index = index | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <h2 class="price">
        {{ product.price | money_with_currency }}
      </h2>

      <p class="with-shoppay">
        From
        <span class="shoppay-amount">
          {{- product.metafields.custom.shop_pay_emi_pricing.value | money_with_currency -}}</span
        >/mo with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 99 25"
          class="text-inherit h-[14px] w-[59px]"
          style="color: black; width: 55px;"
        >
          <path fill="currentColor" d="M70.842 7.915h2.25c1.561 0 2.328.642 2.328 1.715 0 1.074-.739 1.715-2.259 1.715h-2.32v-3.43ZM80.525 16.142c-.879 0-1.227-.474-1.227-.948 0-.642.725-.935 2.147-1.102l1.115-.125c-.07 1.227-.892 2.175-2.035 2.175Z"></path><path fill="currentColor" fill-rule="evenodd" d="M65.645.5a3.64 3.64 0 0 0-3.64 3.64V20.7a3.64 3.64 0 0 0 3.64 3.64h29.668a3.64 3.64 0 0 0 3.64-3.64V4.14A3.64 3.64 0 0 0 95.314.5H65.645Zm5.197 16.674v-4.197h2.64c2.412 0 3.695-1.353 3.695-3.402 0-2.05-1.283-3.277-3.695-3.277h-4.341v10.876h1.7Zm9.334.223c1.297 0 2.147-.572 2.538-1.548.112 1.088.767 1.645 2.189 1.269l.014-1.157c-.572.055-.683-.154-.683-.753v-2.845c0-1.673-1.102-2.663-3.138-2.663-2.008 0-3.165 1.004-3.165 2.705h1.562c0-.809.572-1.297 1.576-1.297 1.06 0 1.547.46 1.534 1.255v.363l-1.8.195c-2.021.223-3.137.99-3.137 2.329 0 1.101.781 2.147 2.51 2.147Zm9.906.32c-.711 1.73-1.855 2.245-3.64 2.245h-.766V18.54h.822c.977 0 1.45-.307 1.966-1.185L85.3 9.923h1.757l2.259 5.424 2.008-5.424h1.715l-2.956 7.795Z" clip-rule="evenodd"></path><path fill="currentColor" d="M6.992 11.055c-2.359-.509-3.41-.708-3.41-1.612 0-.85.711-1.274 2.134-1.274 1.25 0 2.165.544 2.839 1.61.05.081.155.11.241.066l2.655-1.335a.186.186 0 0 0 .076-.259c-1.102-1.9-3.137-2.94-5.818-2.94C2.188 5.311 0 7.037 0 9.781c0 2.915 2.664 3.651 5.027 4.16 2.362.51 3.417.709 3.417 1.613s-.769 1.33-2.303 1.33c-1.416 0-2.467-.644-3.102-1.896a.186.186 0 0 0-.251-.082L.14 16.21a.188.188 0 0 0-.083.253c1.051 2.102 3.207 3.285 6.087 3.285 3.668 0 5.885-1.698 5.885-4.527 0-2.83-2.677-3.651-5.037-4.16v-.007ZM21.218 5.311c-1.505 0-2.835.531-3.791 1.477-.06.057-.159.015-.159-.067V.687A.185.185 0 0 0 17.081.5h-3.322a.185.185 0 0 0-.187.187v18.73c0 .104.083.186.187.186h3.322a.185.185 0 0 0 .187-.186V11.2c0-1.587 1.223-2.804 2.87-2.804 1.649 0 2.843 1.191 2.843 2.804v8.216c0 .104.082.186.187.186h3.322a.185.185 0 0 0 .187-.186V11.2c0-3.452-2.274-5.89-5.459-5.89ZM33.415 4.774c-1.803 0-3.493.55-4.706 1.343a.186.186 0 0 0-.06.25l1.464 2.488c.054.089.168.12.257.066a5.853 5.853 0 0 1 3.052-.834c2.899 0 5.03 2.036 5.03 4.726 0 2.292-1.706 3.99-3.868 3.99-1.762 0-2.985-1.022-2.985-2.463 0-.825.352-1.502 1.27-1.98a.183.183 0 0 0 .073-.258l-1.381-2.327a.187.187 0 0 0-.226-.079c-1.85.683-3.15 2.327-3.15 4.533 0 3.338 2.67 5.83 6.396 5.83 4.35 0 7.478-3 7.478-7.303 0-4.612-3.64-7.982-8.644-7.982ZM51.776 5.283c-1.68 0-3.182.62-4.277 1.707a.093.093 0 0 1-.16-.066v-1.31a.185.185 0 0 0-.187-.186h-3.235a.185.185 0 0 0-.188.187v18.702c0 .104.083.186.188.186h3.32a.185.185 0 0 0 .188-.186v-6.133c0-.082.099-.123.16-.07 1.091 1.012 2.536 1.603 4.19 1.603 3.897 0 6.936-3.139 6.936-7.217 0-4.078-3.042-7.217-6.935-7.217Zm-.63 11.266c-2.215 0-3.895-1.754-3.895-4.074S48.928 8.4 51.147 8.4c2.22 0 3.893 1.726 3.893 4.075 0 2.348-1.651 4.074-3.896 4.074h.003Z"></path>
        </svg>
      </p>

      <form class="product-form" id="addToCartForm">
        <input id="id" type="hidden" name="id" value="{{ product.variants.first.id }}">
        <input type="hidden" name="quantity" id="quantity" value="1" min="1">
        <button
          class="product-form__submit add-to-cart link-pointer {% if product.variants.first.available %}{% else %} disabled{% endif %}"
          type="submit"
          {% if product.variants.first.available %}
          {% else %}
            disabled
          {% endif %}
        >
          {% if product.variants.first.available %}ADD TO CART{% else %} OUT OF STOCK{% endif %}
        </button>
      </form>

      <div class="bottom-icons-texts">
        {% assign bottom_titles = 'Lifetime Airframe Warranty,,45-day Return Policy,,Fast & Secure Shipping'
          | split: ',,'
        %}
        {% assign bottom_texts = 'High-quality materials for long-term durability and sustainable circular economy,,Returns must be unused, undamaged, and in original packaging,,Fast & secure tent delivery'
          | split: ',,'
        %}
        {% for title in bottom_titles %}
          <div class="bottom-icon-text-item">
            <div class="img-container ">
              <img
                src="{% if forloop.index0 == 0 %} https://cdn.shopify.com/s/files/1/0673/6681/3924/files/iconamoon_delivery-fast-fill_1.png?v=1740054799 {% elsif forloop.index0 == 1 %} https://cdn.shopify.com/s/files/1/0673/6681/3924/files/iconamoon_delivery-fast-fill.png?v=1740054798 {% else %} https://cdn.shopify.com/s/files/1/0673/6681/3924/files/iconamoon_delivery-fast-fill_c5fd61e4-068a-4a13-85c9-482c57885ec5.png?v=1740054798 {% endif %}"
                alt=""
                class="icon-img {% if forloop.last %} small-icon{% endif %}"
              >
            </div>
            <p class="bottom-title">{{ title }}</p>
            <p class="bottom-text">{{ bottom_texts[forloop.index0] }}</p>
          </div>
        {% endfor %}
      </div>

      <div class="info-accordion">
        {% for block in section.blocks %}
          <div class="accordion-item">
            <button class="accordion-title">
              {{ block.settings.question }}
              <svg
                class="minus"
                width="13"
                height="2"
                viewBox="0 0 13 2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.5 1C0.5 0.447715 1.03726 0 1.7 0H11.3C11.9627 0 12.5 0.447715 12.5 1C12.5 1.55228 11.9627 2 11.3 2H1.7C1.03726 2 0.5 1.55228 0.5 1Z"
                  fill="black"></path>
              </svg>
              <svg
                class="svg-visible plus"
                width="15"
                height="14"
                viewBox="0 0 15 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.49996 0.142822C7.97335 0.142822 8.35711 0.526578 8.35711 0.999965V6.14282H13.5C13.9734 6.14282 14.3571 6.52658 14.3571 6.99996C14.3571 7.47335 13.9734 7.85711 13.5 7.85711H8.35711V13C8.35711 13.4734 7.97335 13.8571 7.49996 13.8571C7.02658 13.8571 6.64282 13.4734 6.64282 13V7.85711H1.49997C1.02658 7.85711 0.642822 7.47335 0.642822 6.99996C0.642822 6.52658 1.02658 6.14282 1.49997 6.14282H6.64282V0.999965C6.64282 0.526578 7.02658 0.142822 7.49996 0.142822Z"
                  fill="black"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <p>
                {{ block.settings.answer }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  #product-page-main .with-shoppay {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  #product-page-main {
    background: white;
    color: black;
  }
  .sections {
    min-height: 100vh;
    display: grid;
    gap: 40px;
    grid-template-columns: 45% 52%;
    padding: 5rem 8rem;
  }
  .section-1 {
  }
  .section-2 {
  }
  .product-title {
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  .star-rating {
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-top: 5px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .benefits {
    display: flex;
    gap: 12px;
    margin-top: 26px;
  }
  .benefit {
    background: #020030;
    color: white;
    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
    padding: 4px 9px;
    font-size: 14px;
    border-radius: 22px;
  }
  .benefit .icon {
    height: 16px;
  }

  .features {
    background: #e7e7e7;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 35px;
    margin-top: 4rem;
  }
  .feature {
    display: flex;
    gap: 10px;
    margin: 9px 0;
    font-weight: 600;
  }
  .feature .icon {
    width: 24px;
    height: 24px;
  }

  .product-selection {
    margin-top: 3rem;
  }
  .selected {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .selected span {
    font-size: 20px;
    font-weight: 500;
  }
  .products {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  .products .product {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 112px;
  }
  .products .product .img {
    width: 112px;
    height: 112px;
    background: #e4e4e4;
    border-radius: 5px;
  }
  .products .product p {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
  .product .selected {
    border: 2px solid;
  }

  .price {
    font-size: 32px;
    font-weight: 700;
    margin-top: 4rem;
  }

  .add-to-cart {
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #020030;
    color: white;
    margin-top: 4rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    height: 64px;
  }

  .bottom-icons-texts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-top: 4rem;
    letter-spacing: -1px;
  }
  .bottom-icon-text-item {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .bottom-icon-text-item .img-container {
    height: 44px;
  }
  .bottom-icon-text-item img {
    width: 60px;
  }
  .bottom-icon-text-item img.large {
    width: 80px;
  }

  .bottom-icon-text-item .bottom-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
    letter-spacing: 0;
  }
  .bottom-icon-text-item .bottom-text {
    text-align: center;
    font-size: 16px;
    max-width: 100%;
    letter-spacing: 0;
  }

  .info-accordion {
    margin-top: 2rem;
    border-top: 2px solid;
  }
  .accordion-item {
    border-bottom: 2px solid;
    padding: 0;
  }
  .accordion-title {
    padding: 25px 0;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .accordion-title svg {
    display: none;
    min-width: 20px;
  }
  .accordion-title .svg-visible {
    display: block;
  }
  .accordion-content {
    display: none;
    padding: 13px 0;
    font-size: 16px;
    padding-top: 0px;
  }
  .accordion-content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 14px;
    letter-spacing: normal;
  }
  .accordion-content p:first-child {
    display: none;
  }
  .accordion-title:focus {
    outline: none;
  }
  .link-pointer {
    cursor: pointer;
  }
  .add-to-cart.disabled {
    background: #e7e7e7;
    color: black;
    cursor: not-allowed;
  }

  .btn-height {
    height: 61px;
  }

  .c-btn {
    cursor: pointer;
  }

  #judgeme_product_reviews {
    background: white;
    color: #339999;
    padding: 2rem 4rem;
  }

  @media (max-width: 1642px) {
    .sections {
      padding: 5rem 50px;
    }
    .feature {
      font-size: 16px;
    }
  }

  @media (max-width: 1446px) {
    .section-1 {
    }
    .feature {
      font-size: 14px;
    }
    .features {
      padding: 15px;
    }
    .benefit {
      font-size: 14px;
    }
    .product-title {
      font-size: 30px;
    }
    .selected {
      font-size: 20px;
      font-weight: 700;
    }
    .price {
      font-size: 32px;
      letter-spacing: 0px;
    }
  }

  @media (max-width: 1446px) {
    .section-1 {
    }
    .section-2 {
    }
    .products .product p {
      line-height: 15px;
    }
    .product-title {
      font-size: 40px;
      word-spacing: -8px;
      letter-spacing: 2px;
    }
  }

  @media (max-width: 1275px) {
    .products {
      flex-wrap: wrap;
    }
    .product-title {
      font-size: 34px;
    }
    .star-rating {
      font-size: 14px;
    }
    .star-rating svg {
      font-size: 12px !important;
    }
    .benefit {
      font-size: 12px;
    }
    .feature {
      font-size: 12px;
    }
    .feature .icon {
      width: 20px;
      height: 20px;
    }
    .products .product p {
      font-size: 14px;
      line-height: 17px;
    }
    .products .product .img {
      width: 90px;
      height: 90px;
    }
    .selected span,
    .selected {
      font-size: 16px;
    }
    .price {
      font-size: 30px;
    }
    .accordion-title {
      font-size: 18px;
    }
    .accordion-content p {
      font-size: 16px;
    }
    .bottom-icon-text-item .bottom-text {
      font-size: 14px;
    }
    .bottom-icon-text-item .bottom-title {
      font-size: 15px;
      margin-top: 1px;
    }
    .bottom-icon-text-item img {
      width: 46px;
    }
  }

  @media (max-width: 1200px) {
    .carousel img {
      width: 660px;
      height: 430px;
    }
  }

  @media (max-width: 1090px) {
    .carousel img {
      width: 660px;
      height: 430px;
    }
    .product-title {
      font-size: 24px;
      word-spacing: 0px;
      letter-spacing: 3px;
    }
    .benefit {
      font-size: 9px;
    }
    .benefit .icon svg {
      width: 12px;
    }
    .feature {
      font-size: 10px;
    }
    .products .product p {
      font-size: 12px;
    }
    .products .product .img {
      width: 80px;
      height: 79px;
    }
  }

  @media (max-width: 967px) {
    .products {
      gap: 38px;
    }
    .benefits {
      gap: 6px;
    }
    .bottom-icon-text-item .bottom-text {
      font-size: 10px;
    }
    .bottom-icon-text-item .bottom-title {
      font-size: 12px;
    }
    .accordion-title {
      padding: 14px 0;
      font-size: 16px;
    }
    .accordion-content p {
      font-size: 12px;
    }
    .benefits {
      gap: 13px;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 867px) {
    .product-title {
      font-size: 19px;
    }
  }

  @media (max-width: 768px) {
    .sections {
      grid-template-columns: 100%;
      padding: 5rem 25px 6rem;
    }
    .section-1 {
    }
    .product-title {
      font-size: 25px;
    }
    .section-2 {
    }
    .products {
      grid-template-columns: repeat(5, 1fr);
    }
    .products .product {
      width: 106px;
    }
    .products .product .img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .features {
      grid-template-columns: 100%;
      gap: 0px;
    }

    .bottom-icons-texts {
      grid-template-columns: repeat(1, 1fr);
    }
    .bottom-icon-text-item {
      margin-bottom: 6px;
    }
    .bottom-icon-text-item .bottom-title {
      font-size: 16px;
    }
    .bottom-icon-text-item .bottom-text {
      font-size: 15px;
    }
    .btn-height,
    .add-to-cart {
      height: 54px;
    }
    .benefit {
      padding: 4px 7px;
      font-size: 10px;
      height: 30px;
    }
    .feature {
      margin: 8px 0;
    }
    .bottom-icons-texts {
      margin-top: 1rem;
    }
    .add-to-cart {
      margin-top: 2rem;
    }
    .selected {
      letter-spacing: 0;
    }
    .bottom-icon-text-item img.small-icon {
      width: 60px;
    }
    .slick-next {
      right: -5px;
    }
    .slick-prev {
      left: -25px;
    }
    .accordion-content p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  @media (max-width: 730px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
    .products .product .img {
      width: 120px;
      height: 120px;
    }
    .products .product p {
      font-size: 16px;
    }
  }

  @media (max-width: 560px) {
    .product-title {
      font-size: 20px;
    }
    .selected span {
      font-size: 12px;
    }
    .carousel img {
      height: 305px;
    }
    .sections {
      gap: 0px;
    }
    .features {
      margin-top: 2rem;
    }
    .products .product {
      width: 92px;
    }
    .products .product .img {
      width: 90px;
      height: 90px;
    }
    .products .product p {
      font-size: 14px;
      letter-spacing: 0.08px;
    }
  }

  @media (max-width: 418px) {
    .product-title {
      font-size: 24px;
      letter-spacing: 0px;
    }
    .selected span {
      font-size: 10px;
    }
    .selected {
      font-size: 16px;
    }
    .carousel img {
      height: 265px;
    }

    .thumbnail img {
      height: 56px;
    }
    .products .product p {
      font-size: 14px;
      letter-spacing: 0.08px;
    }
    .price {
      font-size: 22px;
    }
    .products .product .img {
      width: 90px;
      height: 90px;
    }
    .products {
      gap: 24px;
    }
    .star-rating {
      font-size: 16px;
    }
    .feature {
      font-size: 12px;
    }
    .selected span {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 400;
    }
    .products .product {
      width: 92px;
    }
    .products .product .img {
      width: 100px;
      height: 100px;
    }
    .price {
      font-size: 24px;
    }
    .add-to-cart {
      font-size: 16px;
      font-weight: 600;
    }
    .bottom-icon-text-item img {
      width: 40px;
    }
  }

  @media (max-width: 375px) {
    .selected span {
      font-size: 10px;
    }
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    #judgeme_product_reviews {
      padding: 2rem 1rem;
    }
  }
  
</style>

<script>
  const ATCButton = document.querySelector('.product-form .add-to-cart');
  // adding products to cart
  document.getElementById('addToCartForm').addEventListener('submit', async function (event) {
    event.preventDefault();
    ATCButton.innerHTML = `<svg aria-hidden="true" focusable="false" role="presentation" style="width: 15px; height: 15px;" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>`;
    try {
      const response = await fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          id: event.target.id.value,
          quantity: 1,
        }),
      });

      if (!response.ok) {
        throw new Error('Failed to add product to cart');
      }
      document.dispatchEvent(new CustomEvent('ajaxProduct:added'));
    } catch (error) {
      console.error('Error adding to cart:', error);
    } finally {
      setTimeout(() => {
        ATCButton.innerHTML = `ADD TO CART`;
      }, 1000);
    }
  });

  const products = document.querySelectorAll('.products .product');
  const productsImgs = document.querySelectorAll('.products .product .img');
  const selected = document.querySelector('.selected span');
  const productTitle = document.querySelector('.product-title');
  const price = document.querySelector('.section-2 .price');
  const formID = document.querySelector('.product-form #id');
  const shoppayPrice = document.querySelector('.shoppay-amount');

  products.forEach((product) => {
    product.addEventListener('click', (e) => {
      if (selected.textContent == e.target.getAttribute('data-title')) return;
      changeProduct(e);
    });
  });

  const changeProduct = (e) => {
    const product = e.currentTarget;
    const title = product.getAttribute('data-title');
    price.textContent = product.getAttribute('data-price');
    productTitle.textContent = title;
    selected.textContent = title;

    productsImgs.forEach((img) => {
      img.classList.remove('selected');
    });

    product.querySelector('.img').classList.add('selected');

    formID.setAttribute('value', product.getAttribute('data-id'));

    if (!product.getAttribute('data-isavl') || product.getAttribute('data-isavl') == 'false') {
      ATCButton.classList.add('disabled');
      ATCButton.disabled = true;
      ATCButton.textContent = 'OUT OF STOCK';
    } else {
      ATCButton.classList.remove('disabled');
      ATCButton.disabled = false;
      ATCButton.textContent = 'ADD TO CART';
    }
    shoppayPrice.textContent = product.getAttribute('data-shoppay-price');

    // changing Url to match product
    history.pushState({}, '', `/products/${product.getAttribute('data-handle')}`);
  };

  const items = document.querySelectorAll('.info-accordion .accordion-title');
  items.forEach((item) => {
    item.addEventListener('click', function () {
      const itemSvgs = item.querySelectorAll('svg');

      document.querySelectorAll('.info-accordion .accordion-title svg').forEach((svg) => {
        if (itemSvgs[0] == svg || itemSvgs[1] == svg) {
          svg.classList.toggle('svg-visible');
        } else {
          if (svg.classList.contains('minus')) svg.classList.remove('svg-visible');
          if (svg.classList.contains('plus')) svg.classList.add('svg-visible');
        }
      });
      const content = this.nextElementSibling;
      const allContent = document.querySelectorAll('.info-accordion .accordion-content');
      allContent.forEach((c) => {
        if (c !== content) c.style.display = 'none';
      });
      content.style.display = content.style.display === 'block' ? 'none' : 'block';
    });
  });
</script>

{% schema %}
{
  "name": "Product Page Main",
  "settings": [],
  "blocks": [
    {
      "type": "faq_item",
      "name": "Accordion Item",
      "settings": [
        {
          "type": "richtext",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    },
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Feature Icon URL",
          "default": "https://example.com/default-icon.png"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Feature Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Page Main",
      "blocks": [
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
